<form action="/" method="post">
  <label for="item">
    <h3>Grocery Item</h3></label>
  <input id="item" type="text" name="item">
  <input type="submit" value="Add Item">
</form>

{{#groceryList}}
  <div>
    <h3>{{this}}</h3>
    <form action="/delete/{{this}}" method="post">
      <input type="submit" value="Delete {{this}}">
    </form>
    <h4><a href="/edit/{{this}}">Edit {{this}}</a></h4>
  </div>
{{/groceryList}}

{{#if error}}
  {{error}}
{{/if}}
